<h1>Components List</h1>  
  <mat-accordion class="example-headers-align" multi>
      <div *ngFor="let component of components">
        <mat-expansion-panel class="dapr-component">
            <mat-expansion-panel-header collapsedHeight="100px" expandedHeight="100px">
                <mat-panel-title>
                    <img [src]="component.iconPath">
                </mat-panel-title>
                <mat-panel-description>{{ component.metadata.name }}</mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{ component.spec.metadata }}</p>
        </mat-expansion-panel>
    </div>
  </mat-accordion>