@use '../theme/pages.scss';
@use '../theme/tables.scss';
@use '../theme/cards.scss';

mat-icon {
  color: #888888;
}

mat-toolbar {
  display: flex;
  height: 4rem;
  position: relative;
  z-index: 2;
  
  #logo {
    width: 4rem;
    padding-right: 0.5rem;
  }

  #scopeFormField {
    padding: 0px 0 9px 0;
    height: 16px;
    font-size: 1rem;
  }
}

mat-sidenav {
  overflow: hidden;
  position: initial;
}

mat-sidenav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: calc(100% - 4rem);
}

mat-sidenav-content {
  width: 100%;
  margin-left: 0 !important;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.menu-close {
  min-width: 64px;
  max-width: 64px;
}

.menu-open {
  min-width: 224px;
  max-width: 224px;
}

.spacer {
  flex: 1 1 auto;
}
