<mat-toolbar class="pages-header mat-elevation-z5">
  <mat-icon aria-hidden="false" aria-label="Open Sidebar" (click)="sidenav.toggle()">format_list_bulleted</mat-icon>
  <img src="../../assets/images/dapr.png" id="header-image">
  <h1>Dashboard</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav opened mode="side">
    <ul>
      <li *ngFor="let item of menu">
        <p>{{ item.title }}</p>
      </li>
    </ul>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
