@import "~@angular/material/theming";

@mixin pages-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
      
    .active {
        mat-icon {
            color: mat-color($primary);
        }
    }
}
