@use '../theme/pages.scss';
@use '../theme/tables.scss';
@use '../theme/cards.scss';

.navigation-item:hover {
  cursor: pointer;
}

.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}

.sidenav-container {
  height: calc(100% - 4rem);
}

mat-toolbar {
  display: flex;
  height: 4rem;
  
  #logo {
    width: 4rem;
    padding-right: 0.5rem;
  }

  #scopeFormField {
    padding: 0px 0 9px 0;
    height: 16px;
    font-size: 1rem;
  }
}

mat-sidenav {
  overflow: hidden;
}

.spacer {
  flex: 1 1 auto;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.sidenav.menu-close {
  width: 60px;
}

.sidenav.menu-open {
  width: 200px;
}

mat-icon {
  color: #888888;
}

.navigation-item-label {
  padding-left: 20px;
}
