@import '../../@theme/styles/themes';

@include nb-install-component() {
  .accordion-container:first-child {
    margin-bottom: nb-theme(card-margin-bottom);
  }

  .img-margin-right-20 {
    margin-right: 20px;
  }

  .json {
    white-space: pre-wrap;
    font-weight: bold;
  }

  .according-item-margin-bottom-10 {
    margin-bottom: 10px;
  }
}
