<h2>Components List</h2>
<br>
<br>
<div class="accordions-container row">
  <div class="accordion-container col-md-6 col-lg-6 col-xxxl-6">
    <nb-accordion multi>
      <nb-accordion-item class="according-item-margin-bottom-10" *ngFor="let component of components">
        <nb-accordion-item-header>
          <span>
            <img class="img-margin-right-20" [src]="component.iconPath">
          </span>
          <span>
            <div>
              {{component.metadata.name}}
            </div>
            <div class="text-hint">
              <h3>{{component.spec.type}}</h3>
            </div>
          </span>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="json">
            {{component.spec.metadata}}
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>