@use '../../theme/pages.scss';
@use '../../theme/tables.scss';
@use '../../theme/cards.scss';

a {
    text-decoration: none;
    color: #0d2192;
}

a:hover {
    text-decoration: underline;
}

mat-icon:hover {
    cursor: pointer;
}

mat-icon {
    color: #888888;
}
