a {
    text-decoration: none;
    color: #0d2192;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

mat-card {
    width: 30%;
    margin-left: 5%;
    margin-bottom: 50px;
}