<h2>Overview</h2>
<br>
<br>
<nb-card>
  <nb-card-header>
    Running Sidecars
  </nb-card-header>

  <nb-card-body>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>App ID</th>
          <th>Status</th>
          <th>Age</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td><a routerLink="/detail/{{item.appID}}">{{ item.appID }}</a></td>
          <td>{{ getStatus(item.appID) }}</td>
          <td>{{ item.age }}</td>
          <td>
              <nb-icon title="remove" *ngIf="item.supportsDeletion" (click)="delete(item.appID)" style="cursor: pointer;" icon="trash-2-outline"></nb-icon>
              <nb-icon title="view logs" [routerLink]="['/logs', item.appID]" *ngIf="item.supportsLogs" style="cursor: pointer;" icon="file-outline"></nb-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>