.card-large {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-small {
    width: 30%;
    margin-left: 5%;
    margin-bottom: 50px;
}

.card-tiny {
    width: 200px;
    margin-left: 5%;
    margin-bottom: 50px;
}
