.card-large {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-small {
    width: 30%;
    margin-left: 5%;
    margin-bottom: 50px;
}

.card-tiny {
    width: 130px;
    margin-left: 5%;
    margin-bottom: 50px;
}

.card-header {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.87);
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 12px;
}
