.app-header {
    font-size: 32px;
    font-weight: 400;
}

.page-header {
    font-size: 24px;
    margin-top: 25px;
    margin-left: 5%;
    font-weight: 400;
}

.page-header-left {
    font-weight: 400;
    font-size: 24px;
    margin-top: 25px;
    margin-left: 2%;
}

.page-text {
    font-size: 16px;
    margin-left: 2%;
}

.timestamp {
    font-weight: 500;
}
