.app-header {
    font-size: 32px;
    font-weight: 300;
}

.page-header {
    font-size: 30px;
    margin-top: 25px;
    margin-left: 5%;
}

.page-header-left {
    font-size: 30px;
    margin-top: 25px;
    margin-left: 2%;
}

.page-subheader {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.87);
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 12px;
}
