table {
    border-spacing: 0px;
}

.table-label {
    font-weight: 600;
    font-size: 14px;
}

.table-large {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

td {
    padding: 7px;
}

.table-label-large {
    font-weight: 600;
    font-size: 18px;
}

.table-header {
    font-size: 20px;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 12px;
}

.table-data {
    font-weight: 500;
    font-size: 12px;
}

.table-sublabel {
    font-weight: 600;
    font-size: 13px;
}

.table-data-large {
    font-weight: 500;
    font-size: 16px;
}
